<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Data Set Composer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Tables</a>
            </li>
            <li class="active">
                <strong>Data Sources</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="dataSourcesCtrl">
    <div class="row" >
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Data Sources</h5>

                    <div ibox-tools> </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">

                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>Data Set Name</th>
                            <!--<th>Browser</th>-->
                            <th  data-hide="phone,tablet"></th>
                            <th data-hide="phone,tablet"></th>
                            <th data-hide="phone,tablet"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td>Trade Line</td>
                            <td>
                                <input type="checkbox" name="selected" ng-model="e.checked1" ng-true-value="1" ng-false-value="0"/>
                                Trade Line Attribute 1
                            </td>
                            <td>
                                <input type="checkbox" name="selected" ng-model="e.checked2" ng-true-value="1" ng-false-value="0"/>
                               Trade Line Attribute 2</td>
                            <!--<td class="center">4</td>-->
                            <!--<td class="center">X</td>-->
                        </tr>
                        <tr class="gradeC">
                            <td>
                                Credit Line</td>
                            <td>
                                <input type="checkbox" name="selected" ng-model="e.checked3" ng-true-value="1" ng-false-value="0"/>
                                Credit Line Attribute 1
                            </td>
                            <td>
                                <input type="checkbox" name="selected" ng-model="e.checked4" ng-true-value="1" ng-false-value="0"/>
                                Credit Line Attribute 2</td>
                            <!--<td class="center">5</td>-->
                            <!--<td class="center">C</td>-->
                        </tr>
                        <tr class="gradeA">
                            <td>Other Line</td>
                            <td>
                                <input type="checkbox" name="selected" ng-model="e.checked5" ng-true-value="1" ng-false-value="0"/>
                                Other Line Attribute 1
                            </td>
                            <td>
                                <input type="checkbox" name="selected" ng-model="e.checked6" ng-true-value="1" ng-false-value="0"/>
                                Other Line Attribute 2</td>
                            <!--<td class="center">5.5</td>-->
                            <!--<td class="center">A</td>-->
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Target Data Set Composition </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <th ng-repeat="column in cols">{{column}}</th>
                        </thead>
                        <tbody>
                        <tr >

                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
